.songHead {
    position: relative;
    margin: 12px 15px 0 0;
    width: 34px;
    height: 34px;
    float: left;

    img {
        width: 34px;
        height: 34px;
        border-radius: 4px;
    }
}