#hommmm .content {
  width: 100%; }

#hommmm .banner-outer {
  width: 100%;
  height: 336px; }
  #hommmm .banner-outer .banner-inner {
    width: 982px;
    margin: 0 auto;
    position: relative;
    z-index: 10; }
  #hommmm .banner-outer .banner {
    width: 730px; }
  #hommmm .banner-outer .download {
    position: absolute;
    top: 0;
    z-index: 20;
    right: -1px;
    width: 254px;
    height: 336px;
    text-align: center;
    background: url("http://s2.music.126.net/style/web2/img/index/download.png?e32af85732e87fffd8daf796ab205759") no-repeat; }
  #hommmm .banner-outer .side-download {
    display: block;
    width: 215px;
    height: 56px;
    margin: 212px 0 0 19px;
    text-indent: -9999px;
    cursor: pointer; }
  #hommmm .banner-outer p {
    margin: 10px auto;
    color: #8d8d8d;
    font-size: 12px; }
  #hommmm .banner-outer img {
    width: 730px;
    height: 336px; }

#hommmm .main {
  width: 980px;
  margin: 0 auto;
  margin-bottom: 53px;
  min-height: 700px;
  background: url("http://s2.music.126.net/style/web2/img/frame/wrap1.png?2aa5e120b7dee306b76b3e7067084fff") repeat-y;
  border: 1px solid #d3d3d3; }
  #hommmm .main .main-f {
    float: left;
    width: 100%;
    margin-right: -250px; }
  #hommmm .main .main-f1 {
    margin-right: 251px; }
  #hommmm .main .main-wrap {
    padding: 20px 20px 40px; }
    #hommmm .main .main-wrap .advertisement {
      margin-bottom: 35px; }
  #hommmm .main .main-r {
    position: relative;
    float: right;
    width: 250px; }

#hommmm .footer {
  width: 100%;
  height: 140px;
  background: #f2f2f2;
  border-top: 1px solid #d3d3d3; }

#hommmm .ft {
  width: 980px;
  height: 140px;
  margin: 0 auto; }
  #hommmm .ft .copy {
    float: left;
    width: 490px;
    padding-top: 35px;
    line-height: 24px; }
    #hommmm .ft .copy .s-fc4 {
      color: #999; }
    #hommmm .ft .copy .line {
      margin: 0 8px 0 10px;
      color: #c2c2c2; }
    #hommmm .ft .copy .sep {
      font-size: 14px; }
    #hommmm .ft .copy .s-fc3 {
      color: #666; }
  #hommmm .ft .enter {
    width: 330px;
    margin-top: 21px;
    float: right; }
    #hommmm .ft .enter .logo {
      float: left;
      width: 60px;
      height: 70px;
      background: url("../images/foot_enter.png") no-repeat 0 9999px;
      margin-left: 30px;
      text-indent: -99999px; }
    #hommmm .ft .enter .logo-musician {
      background-position: -60px -80px;
      margin-left: 0; }
    #hommmm .ft .enter .logo-topic {
      background-position: 0 -80px; }
    #hommmm .ft .enter .logo-midea {
      background-position: 0 0; }
    #hommmm .ft .enter .logo-reward {
      background-position: -60px 0; }
